@model MojCRM.Models.Contact

@{
    ViewBag.Title = "Brisanje kontakta";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 style="text-align:center"><strong>Brisanje kontakta</strong></h2>

<h3>Jeste li sigurni da želite izbrisati ovaj kontakt?</h3>
<hr />
<div>
    <h4>Kontakt</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.VAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
