@model MojCRM.Areas.Campaigns.ViewModels.CreateCampaign

@{
    ViewBag.Title = "Kreiraj kampanju";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 style="text-align:center"><strong>Kreiraj kampanju</strong></h2>

<hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="campaign-name">@Html.DisplayNameFor(model => model.CampaignName)</label>
                <div id="campaign-name">
                    @Html.TextBox("CampaignName", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Naziv kampanje"})
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="campaign-type">@Html.DisplayNameFor(model => model.CampaignType)</label>
                <div id="campaign-type">
                    @Html.EnumDropDownListFor(model => model.CampaignType, "Odaberi tip kampanje", new { @class = "form-control"})
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="campaign-start-date">@Html.DisplayNameFor(model => model.CampaignStartDate)</label>
                <div id="campaign-start-date">
                    @Html.TextBox("CampaignStartDate", ViewBag.CurrentFilter as string, new { @class = "date-picker form-control", @placeholder = "Datum početka kampanje" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="campaign-planned-end-date">@Html.DisplayNameFor(model => model.CampaignPlannedEndDate)</label>
                <div id="campaign-planned-end-date">
                    @Html.TextBox("CampaignPlannedEndDate", ViewBag.CurrentFilter as string, new { @class = "date-picker form-control", @placeholder = "Planirani datum završetka kampanje" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="campaign-initiator">@Html.DisplayNameFor(model => model.CampaignInitiator)</label>
                <div id="campaign-initiator">
                    @Html.TextBox("CampaignInitiator", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = @User.Identity.Name, @disabled = true })
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label for="campaign-description">@Html.DisplayNameFor(model => model.CampaignDescription)</label>
                <div id="campaign-description">
                    @Html.TextArea("CampaignDescription", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Opis kampanje"})
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-12">
        <div class="form-group">
            <input id="Search" type="submit" class="btn btn-primary btn-sm" value="Kreiraj" />
            <input id="btn-reset" type="reset" class="btn btn-warning btn-sm" value="Poništi" />
            <a href="@Url.RouteUrl(new { action = "Index", controller = "Campaigns", area = "Campaigns", returnUrl = Request.Url})" class="btn btn-sm btn-default" title="Povratak na popis kampanja"><i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
    <hr />
}
