@model MojCRM.Areas.Campaigns.Models.Campaign

@{
    ViewBag.Title = "Detalji kampanje";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 style="text-align:center"><strong>Detalji kampanje</strong></h2>

<div>
    <h4 style="text-align:center">Kampanja - @Html.Raw(Model.CampaignName)</h4>
    <hr />
    <hr />
    <dl class="dl-horizontal" style="text-align:center">
        <dt>
            @Html.DisplayNameFor(model => model.RelatedCompany.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedCompany.SubjectName) (@Html.DisplayFor(model => model.RelatedCompany.VAT))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignInitiatior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignInitiatior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignPlannedEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignPlannedEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDate)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.RouteUrl(new { action = "Edit", controller = "Campaigns", area = "Campaigns", id=Model.CampaignId, returnUrl = Request.Url})" class="btn btn-sm btn-default" title="Uređivanje kampanje"><i class="fa fa-edit"></i></a>
    <a href="@Url.RouteUrl(new { action = "Index", controller = "Campaigns", area = "Campaigns", returnUrl = Request.Url})" class="btn btn-sm btn-default" title="Povratak na popis kampanja"><i class="fa fa-arrow-left"></i></a>
</p>
