@using MojCRM.Areas.Campaigns.Models
@model IQueryable<MojCRM.Areas.Campaigns.ViewModels.EmailBasesCampaignStatsViewModel>
@{
    ViewBag.Title = "Statistika - Ažuriranje baze korisnika";
    Layout = "~/Views/Shared/_UserLayoutNew.cshtml";
    var startedCampaigns = Model.Count(c => c.Campaign.CampaignStatus == Campaign.CampaignStatusEnum.START);
}

<h2>Statistika - Ažuriranje baze korisnika</h2>
<br />
<div class="alert alert-info">
    <p style="text-align: justify">
        Ovaj statistički pregled donosi podatke o kreiranim kapmanjama za ažuriranje e-mail adresa korisnika. Statistika prikazuje podatke o:
        <ul>
            <li>pokrenutim kampanjama</li>
            <li>broju preostalih predmeta za obradu</li>
            <li>postotku verificiranih predmeta</li>
            <li>pokretanju kampanje (osoba koja je pokrenula kampanju, datum početka i predviđenog završetka kampanje i dr.)</li>
        </ul>
    </p>
</div>
<hr />
<div class="row">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-phone"></i> Ažuriranje baza korisnika</h3> <em>- Popis otvorenih kampanja za ažuriranje baza korisnika</em>
            <div class="btn-group widget-header-toolbar">
                <a href="#" title="Fokusiraj" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                <a href="#" title="Proširi/Sažmi" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                @*<a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>*@
                                </div>
                                @if (startedCampaigns != 0)
                                {
                                    <div class="widget-header-toolbar">
                                        <div class="label label-danger" title="Broj kampanja koje su trenutno tek pokrenute"><i class="fa fa-warning"></i> @startedCampaigns pokrenuto</div>
                                    </div>
                                }
                            </div>
                            <div class="widget-content">
                                <table id="ticket-table" class="table table-sorting">
                                    <thead>
                                    <tr>
                                        <th>Naziv</th>
                                        <th>Opis</th>
                                        <th>Pokrenuo</th>
                                        <th>Status</th>
                                        <th>Početak</th>
                                        <th>Predviđeni završetak</th>
                                        <th>Završetak</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var campaign in Model)
                                    {
                                        <tr>
                                            <td><strong>@campaign.Campaign.CampaignName</strong></td>
                                            <td>@campaign.Campaign.CampaignDescription</td>
                                            <td>@campaign.Campaign.CampaignInitiatior</td>
                                            @if (campaign.Campaign.CampaignStatus == Campaign.CampaignStatusEnum.START)
                                            {
                                                <td><span class="label label-critical">@campaign.Campaign.CampaignStatusString</span></td>
                                            }
                                            @if (campaign.Campaign.CampaignStatus == Campaign.CampaignStatusEnum.INPROGRESS)
                                            {
                                                <td><span class="label label-medium">@campaign.Campaign.CampaignStatusString</span></td>
                                            }
                                            @if (campaign.Campaign.CampaignStatus == Campaign.CampaignStatusEnum.HOLD)
                                            {
                                                <td><span class="label label-low">@campaign.Campaign.CampaignStatusString</span></td>
                                            }
                                            @if (campaign.Campaign.CampaignStatus == Campaign.CampaignStatusEnum.ENDED)
                                            {
                                                <td><span class="label label-low">@campaign.Campaign.CampaignStatusString</span></td>
                                            }
                                            @if (campaign.Campaign.CampaignStatus == Campaign.CampaignStatusEnum.COMPLETED)
                                            {
                                                <td><span class="label label-primary">@campaign.Campaign.CampaignStatusString</span></td>
                                            }
                                            <td>@campaign.Campaign.CampaignStartDate.ToShortDateString()</td>
                                            <td>@campaign.Campaign.CampaignPlannedEndDate.ToShortDateString()</td>
                                            <td>@campaign.Campaign.CampaignEndDate</td>
                                        </tr>
                                        <tr>
                                            <td title="Preostalo za obradu od ukupnog broja kreiranih predmeta">Status obrade: @campaign.NotVerifiedCount / @campaign.TotalCount</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="@campaign.VerifiedPercent" aria-valuemin="0" aria-valuemax="100" style="width: @campaign.VerifiedPercent%;">
                                                        @campaign.VerifiedPercent% dovršeno
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="@Url.RouteUrl(new { action = "Details", controller = "Campaigns", area = "Campaigns", id=campaign.Campaign.CampaignId, returnUrl = Request.Url })" title="Detalji kampanje"><i class="fa fa-list"></i></a>
                                                @if (User.IsInRole("Superadmin"))
                                                {
                                                    <a href="@Url.RouteUrl(new { action = "UpdateEntityStatus", controller = "AcquireEmail", area = "HelpDesk", campaignId = campaign.Campaign.CampaignId })" title="Osvježi statuse predmeta u kampanju"><i class="fa fa-refresh"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

