@model IEnumerable<MojCRM.Areas.Campaigns.Models.Campaign>

@{
    ViewBag.Title = "Pregled kampanja";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 style="text-align:center"><strong>Pregled kampanja</strong></h2>

<hr />

<div>
    <div class="row" style="text-align:center">
        <div class="col-md-12">
            <div class="btn btn-group" role="group">
                <a href="@Url.Action("Create", "Campaigns")" class="btn btn-default btn-sm" title="Dodaj kampanju">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelatedCompany.VAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampaignName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampaignDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampaignInitiatior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampaignType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampaignStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampaignStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampaignPlannedEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampaignEndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedCompany.VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignInitiatior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignStatus)
        </td>
        <td>
            @Html.Raw(item.CampaignStartDate.ToShortDateString())
        </td>
        <td>
            @Html.Raw(item.CampaignPlannedEndDate.ToShortDateString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignEndDate)
        </td>
        <td>
            <a href="@Url.RouteUrl(new { action = "Edit", controller = "Campaigns", area = "Campaigns", id=item.CampaignId, returnUrl = Request.Url})" title="Uređivanje kampanje"><i class="fa fa-edit"></i></a>
            <a href="@Url.RouteUrl(new { action = "Details", controller = "Campaigns", area = "Campaigns", id=item.CampaignId, returnUrl = Request.Url })" title="Detalji kampanje"><i class="fa fa-list"></i></a>
            @if (User.IsInRole("Administrator") || User.IsInRole("Superadmin"))
            {
                <a href="@Url.RouteUrl(new { action = "Delete", controller = "Campaigns", area = "Campaigns", id=item.CampaignId, returnUrl = Request.Url})" title="Brisanje kampanje"><i class="fa fa-trash"></i></a>
            }
        </td>
    </tr>
}

</table>
