<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Moj-CRM</title>
    <link href="~/Content/ikona-preglednik.ico" rel="shortcut icon" type="image/x-icon" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/Content/css")

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
</head>
<body>
    <!--Header Wrapper-->
    <div class="special-wrap" style="background-color:lavender">
        <nav id="navbar-top" style="text-align: justify; background-color: lavender; border-color: lavender; margin-bottom: 0px" ; class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header" style="color: lavender">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="logo" class="navbar-brand" style="margin-top: 0px;margin-bottom: 0px;padding-bottom: 0px;padding-top: 0px">
                        <img alt="Moj-CRM logo" src="@Url.Content("~/Content/CRM_logo_source-krivulje.tekst.svg")" />
                    </a>
                </div>
                <div class="navbar-collapse collapse" style="margin: 15px">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>
    <div id="main-wrapper" style="background-color:lavender">
        <div class="container body-content" style="background-color:white">
            <form class="form-inline">
                <div class="row" style="padding-top:6px; margin-top:6px">
                    <div class="col-md-12">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-default btn-sm">
                            <i class="fa fa-home"></i>
                            Početna
                        </a>
                        <div class="btn-group dropdown">
                            <a data-target="listsDropdownMenu" class="btn btn-default btn-sm dropdown-toggle" type="button" id="deliveryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#listsDropdownMenu"><i class="fa fa-list"></i> Popisi <span class="caret"></span></a>
                            <ul id="listsDropdownMenu" class="dropdown-menu" role="menu" aria-labelledby="listsDropdownMenu">
                                <li><a href="@Url.Action("Index", "Organizations")"><i class="fa fa-industry"></i> Tvrtke</a></li>
                                <li><a href="@Url.Action("Index", "Contacts")"><i class="fa fa-vcard"></i> Kontakti</a></li>
                            </ul>
                        </div>
                        @if (User.IsInRole("Management") || User.IsInRole("Board") || User.IsInRole("Administrator") || User.IsInRole("Superadmin"))
                        {
                            <a href="@Url.Action("Index", "Campaigns")" class="btn btn-default btn-sm">
                                <i class="fa fa-phone"></i>
                                Kampanje
                            </a>
                        }
                        @if (true)
                        {
                            <div class="btn-group dropdown">
                                <a data-target="salesDropdownMenu" class="btn btn-default btn-sm dropdown-toggle" type="button" id="salesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#salesDropdownMenu"><i class="fa fa-money"></i> Prodaja <span class="caret"></span></a>
                                <ul id="salesDropdownMenu" class="dropdown-menu" role="menu" aria-labelledby="salesDropdown">
                                    <li class="dropdown-header" style="color:cornflowerblue"><strong>Prodajne prilike</strong></li>
                                    <li><a href="@Url.Action("Index", "Opportunities")"><i class="fa fa-list"></i> Pregled</a></li>
                                    <li class="dropdown-header" style="color:cornflowerblue"><strong>Leadovi</strong></li>
                                    <li><a href="@Url.Action("Index", "Leads")"><i class="fa fa-list"></i> Pregled</a></li>
                                </ul>
                            </div>
                        }
                        @if (User.IsInRole("Delivery") || User.IsInRole("Support") || User.IsInRole("Management") || User.IsInRole("Board") || User.IsInRole("Administrator") || User.IsInRole("Superadmin"))
                        {
                            <div class="btn-group dropdown">
                                <a data-target="deliveryDropdownMenu" class="btn btn-default btn-sm dropdown-toggle" type="button" id="deliveryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#deliveryDropdownMenu"><i class="fa fa-wrench"></i> Podrška <span class="caret"></span></a>
                                <ul id="deliveryDropdownMenu" class="dropdown-menu" role="menu" aria-labelledby="deliveryDropdown">
                                    <li class="dropdown-header" style="color:cornflowerblue"><strong>Dostava eRačuna</strong></li>
                                    <li><a href="@Url.Action("Index", "Delivery")"><i class="fa fa-ticket"></i> Kartice</a></li>
                                    <li><a href="@Url.Action("Contacts", "Delivery")"><i class="fa fa-vcard"></i> Kontakti dostave</a></li>
                                    @if (User.IsInRole("Support") || User.IsInRole("Management") || User.IsInRole("Board") || User.IsInRole("Administrator") || User.IsInRole("Superadmin"))
                                    {
                                        <li class="dropdown-header" style="color:cornflowerblue"><strong>MeRHelpdesk</strong></li>
                                    }
                                </ul>
                            </div>
                        }
                        <a href="@Url.Action("Index", "Stats")" class="btn btn-default btn-sm">
                            <i class="fa fa-book"></i>
                            Izvještaji
                        </a>
                        @if (User.IsInRole("Superadmin"))
                        {
                            <a href="@Url.Action("Index", "Administration")" class="btn btn-default btn-sm">
                                <i class="fa fa-cogs"></i>
                                Administracija sustava
                            </a>
                        }
                    </div>
                </div>
            </form>
            <hr />
            @RenderBody()
            @RenderSection("SPAViews", required: false)
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Elektronički računi d.o.o.</p>
            </footer>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
        $('.dropdown-toggle').dropdown()
</script>
