@model MojCRM.ViewModels.GeneralCampaignStatusViewModel
@{
    ViewBag.Title = "Početna";
}

@if (User.IsInRole("Management") || User.IsInRole("Superadmin"))
{
    <div class="content">
        <div class="main-header">
            <h2>NADZORNA PLOČA</h2>
            <em>Pregled ključnih statističkih pokazatelja</em>
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget widget-hide-header">
                        <div class="widget-header">
                            <h3>INA kampanja</h3>
                        </div>
                        <div class="widget-content">
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="text-center">Broj kreiranih prodajnih prilika</p>
                                    <p class="text-center"><strong>@Model.NumberOfOpportunitiesCreated</strong></p>
                                    <p class="text-center">Broj kreiranih leadova</p>
                                    <p class="text-center"><strong>@Model.NumberOfLeadsCreated</strong></p>
                                </div>
                                <div class="col-md-2">
                                    <div class="easy-pie-chart yellow" data-percent="@Model.NumberOfOpportunitiesInProgressPercent" title="@Model.NumberOfOpportunitiesInProgress">
                                        <span class="percent">@Model.NumberOfOpportunitiesInProgressPercent</span>
                                    </div>
                                    <p class="text-center">Broj prodajnih prilika u obradi</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="easy-pie-chart green" data-percent="@Model.NumberOfOpportunitiesUserPercent" title="@Model.NumberOfOpportunitiesRejected">
                                        <span class="percent">@Model.NumberOfOpportunitiesUserPercent</span>
                                    </div>
                                    <p class="text-center">Broj postojećih korisnika</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="easy-pie-chart green" data-percent="@Model.NumberOfOpportunitiesToLeadPercent" title="@Model.NumberOfOpportunitiesToLead">
                                        <span class="percent">@Model.NumberOfOpportunitiesToLeadPercent</span>
                                    </div>
                                    <p class="text-center">Broj kreiranih leadova</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="easy-pie-chart red" data-percent="@Model.NumberOfOpportunitiesRejectedPercent" title="@Model.NumberOfOpportunitiesRejected">
                                        <span class="percent">@Model.NumberOfOpportunitiesRejectedPercent</span>
                                    </div>
                                    <p class="text-center">Broj odbijenih prodajnih prilika</p>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-2">
                                    <div class="easy-pie-chart yellow" data-percent="@Model.NumberOfLeadsInProgressPercent" title="@Model.NumberOfLeadsInProgress">
                                        <span class="percent">@Model.NumberOfLeadsInProgressPercent</span>
                                    </div>
                                    <p class="text-center">Broj leadova u obradi</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="easy-pie-chart yellow" data-percent="@Model.NumberOfLeadsMeetingsPercent" title="@Model.NumberOfLeadsMeetings">
                                        <span class="percent">@Model.NumberOfLeadsMeetingsPercent</span>
                                    </div>
                                    <p class="text-center">Broj leadova sa dogovorenim sastankom</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="easy-pie-chart yellow" data-percent="@Model.NumberOfLeadsQuotesPercent" title="@Model.NumberOfLeadsQuotes">
                                        <span class="percent">@Model.NumberOfLeadsQuotesPercent</span>
                                    </div>
                                    <p class="text-center">Broj leadova sa poslanom ponudom</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="easy-pie-chart green" data-percent="@Model.NumberOfLeadsAcceptedPercent" title="@Model.NumberOfLeadsQuotes">
                                        <span class="percent">@Model.NumberOfLeadsAcceptedPercent</span>
                                    </div>
                                    <p class="text-center">Broj realiziranih (prihvaćenih) ponuda</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="easy-pie-chart red" data-percent="@Model.NumberOfLeadsRejectedPercent" title="@Model.NumberOfLeadsRejected">
                                        <span class="percent">@Model.NumberOfLeadsRejectedPercent</span>
                                    </div>
                                    <p class="text-center">Broj odbijenih leadova</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

