@model MojCRM.Helpers.ChangeEmailNoTicket

<!--Modal - ChangeEmail-->
@using (Html.BeginForm("ChangeEmail", "Delivery", FormMethod.Post))
{
    <div class="modal fade" id="ChangeEmail" tabindex="-1" role="dialog" aria-labelledby="ChangeEmail">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="overflow:hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Izmijeni e-mail adresu za dostavu dokumenta</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="hidden">
                                <div id="delivery-detail-receiver">
                                    @Html.TextBox("_Receiver", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.ReceiverId })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-detail-user">
                                    @Html.TextBox("_Agent", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.Agent })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="delivery-email">
                                    <label for="delivery-email">@Html.DisplayNameFor(model => model.OldEmail)</label>
                                    @Html.DisplayFor(model => model.OldEmail)
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <div id="delivery-new-email">
                                    @Html.TextBox("_Email", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Nova e-mail adresa" })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-detail-ticketid">
                                    @Html.TextBox("_Id", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.MerElectronicId })
                                </div>
                                <div id="delivery-detail-ticketid">
                                    @Html.TextBox("_TicketId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.TicketId })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Izmijeni adresu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
                </div>
            </div>
        </div>
    </div>
}
