@model MojCRM.ViewModels.DeliveryDetailsViewModel

@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Detalji za preuzimanje dokumenta: @Html.DisplayFor(model => model.MerDocumentTypeIdString) @ViewBag.InvoiceNumber</h2>

<hr />

<div>
    <div class="row">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.SenderName)</strong>
            @Html.DisplayFor(model => model.SenderName)
        </div>
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.ReceiverName)</strong>
            @Html.DisplayFor(model => model.ReceiverName)
        </div>
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.ReceiverEmail)</strong>
            @Html.DisplayFor(model => model.ReceiverEmail)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.MerDocumentTypeIdString)</strong>
            @Html.DisplayFor(model => model.MerDocumentTypeIdString)
        </div>
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.InvoiceNumber)</strong>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </div>
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.SentDate)</strong>
            @Html.DisplayFor(model => model.SentDate)
        </div>
    </div>
    <hr />
    <h4><img src="~/Content/e_racun_logo_source.png" style="width:100px; height:30px" /></h4>
    <div class="row">
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.MerDeliveryDetailComment)</strong>
            @Html.DisplayFor(model => model.MerDeliveryDetailComment)
        </div>
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.MerDeliveryDetailTelephone)</strong>
            @Html.DisplayFor(model => model.MerDeliveryDetailTelephone)
        </div>
    </div>
</div>
<hr />
<div class="panel panel-default">
    <div class="panel-heading">Pregled ostalih nepreuzetih dokumenata</div>
    <table class="table">
    </table>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Delivery")" class="btn btn-default">
            Povratak na popis kartica
        </a>
    </div>
</div>
