@model MojCRM.ViewModels.DeliveryDetailsViewModel
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--Modal - CreateContact-->
@using (Html.BeginForm("CreateFromDelivery", "Contact", FormMethod.Post))
{
    <div class="modal fade" id="CreateContact" tabindex="-1" role="dialog" aria-labelledby="CreateContact">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="overflow:hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Kreiraj kontakt za dostavu</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="delivery-contact-first-name">@Html.DisplayNameFor(model => model.DeliveryContactFirstName)</label>
                                <div id="delivery-contact-first-name">
                                    @Html.TextBox("FirstName", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Ime kontakta" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="delivery-contact-last-name">@Html.DisplayNameFor(model => model.DeliveryContactLastName)</label>
                                <div id="delivery-contact-last-name">
                                    @Html.TextBox("LastName", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Prezime kontakta" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="delivery-contact-telephone">@Html.DisplayNameFor(model => model.DeliveryContactTelephone)</label>
                                <div id="delivery-contact-telephone">
                                    @Html.TextBox("Telephone", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Broj telefona kontakta" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <label for="delivery-contact-mobile">@Html.DisplayNameFor(model => model.DeliveryContactMobileTelephone)</label>
                                <div id="delivery-contact-mobile">
                                    @Html.TextBox("Mobile", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Broj mobitela kontakta" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="delivery-contact-email">@Html.DisplayNameFor(model => model.DeliveryEmailAddress)</label>
                                <div id="delivery-contact-email">
                                    @Html.TextBox("Email", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "E-mail adresa kontakta" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="delivery-contact-user">@Html.DisplayNameFor(model => model.DeliveryContactAgent)</label>
                                <div id="delivery-contact-agent">
                                    @Html.TextBox("Agent", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = @User.Identity.Name })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-contact-receiver">
                                    @Html.TextBox("Receiver", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.ReceiverId })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-contact-documentid">
                                    @Html.TextBox("DocumentId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.TicketId })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Kreiraj kontakt</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
                </div>
            </div>
        </div>
    </div>
}

<!--Modal - EditContact-->
@using (Html.BeginForm("EditFromDelivery", "Contact", FormMethod.Post))
{
    <div class="modal fade" id="EditContact" tabindex="-1" role="dialog" aria-labelledby="EditContact">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="overflow:hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Uredi kontakt za dostavu</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="delivery-detail-contact">Kontakt osoba</label>
                            <div id="delivery-detail-contact">
                                @Html.DropDownList("_ContactId", Model.RelatedDeliveryContactsForDetails, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="delivery-contact-first-name">@Html.DisplayNameFor(model => model.DeliveryContactFirstName)</label>
                                <div id="delivery-contact-first-name">
                                    @Html.TextBox("_FirstName", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.DeliveryContactFirstName })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="delivery-contact-last-name">@Html.DisplayNameFor(model => model.DeliveryContactLastName)</label>
                                <div id="delivery-contact-last-name">
                                    @Html.TextBox("_LastName", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.DeliveryContactLastName })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="delivery-contact-telephone">@Html.DisplayNameFor(model => model.DeliveryContactTelephone)</label>
                                <div id="delivery-contact-telephone">
                                    @Html.TextBox("_Telephone", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.DeliveryContactTelephone })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <label for="delivery-contact-mobile">@Html.DisplayNameFor(model => model.DeliveryContactMobileTelephone)</label>
                                <div id="delivery-contact-mobile">
                                    @Html.TextBox("_Mobile", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.DeliveryContactMobileTelephone })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="delivery-contact-email">@Html.DisplayNameFor(model => model.DeliveryEmailAddress)</label>
                                <div id="delivery-contact-email">
                                    @Html.TextBox("_Email", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = Model.DeliveryContactEmail })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="delivery-contact-user">@Html.DisplayNameFor(model => model.DeliveryContactAgent)</label>
                                <div id="delivery-contact-agent">
                                    @Html.TextBox("_Agent", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = @User.Identity.Name })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-contact-receiver">
                                    @Html.TextBox("_Receiver", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.ReceiverId })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-contact-documentid">
                                    @Html.TextBox("_DocumentId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.TicketId })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Kreiraj kontakt</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
                </div>
            </div>
        </div>
    </div>
}

@{
    var deliveryTemplates = new List<ListItem>
        {
            new ListItem {Text = "Preuzet će", Value = "Preuzet će" },
            new ListItem {Text = "Promjena e-maila", Value = "Promjena e-maila" },
            new ListItem {Text = "Ponovno poslana obavijest o dostavi", Value = "Ponovno poslana obavijest o dostavi" },
            new ListItem {Text = "Nisu se javili", Value = "Nisu se javili" },
        };
}

<!--Modal - AddDetail-->
@using (Html.BeginForm("AddDetail", "Delivery", FormMethod.Post))
{
    <div class="modal fade" id="AddDetail" tabindex="-1" role="dialog" aria-labelledby="AddDetail">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="overflow:hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Kreiraj napomenu dostave</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="hidden">
                                <div id="delivery-detail-receiver">
                                    @Html.TextBox("_ReceiverId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.ReceiverId })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="delivery-detail-user">@Html.DisplayNameFor(model => model.DeliveryDetailAgent)</label>
                                <div id="delivery-detail-user">
                                    @Html.TextBox("_Agent", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = @User.Identity.Name })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="delivery-detail-contact">Kontakt osoba</label>
                                <div id="delivery-detail-contact">
                                    @Html.DropDownList("_ContactId", Model.RelatedDeliveryContactsForDetails, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="delivery-detail-template">Napomena</label>
                                <div id="delivery-detail-contact">
                                    @Html.DropDownList("_DetailTemplate", new SelectList(deliveryTemplates, "Value", "Text"), "Odaberi napomenu",new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label for="delivery-detail">@Html.DisplayNameFor(model => model.DeliveryDetailDetail)</label>
                                <div id="delivery-detail">
                                    @Html.TextArea("_DetailNote", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Napomena dostave" })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-detail-ticketid">
                                    @Html.TextBox("_TicketId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.TicketId })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-detail-identifier">
                                    @Html.TextBox("Identifier", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = 1 })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Kreiraj napomenu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
                </div>
            </div>
        </div>
    </div>
}

<!--Modal - EditDetail-->
@using (Html.BeginForm("EditDetail", "Delivery", FormMethod.Post))
{
    <div class="modal fade" id="EditDetail" tabindex="-1" role="dialog" aria-labelledby="EditDetail">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="overflow:hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Izmijeni napomenu dostave</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="hidden">
                                <div id="delivery-detail-receiver">
                                    @Html.TextBox("_ReceiverId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.ReceiverId })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="delivery-detail-user">@Html.DisplayNameFor(model => model.DeliveryDetailAgent)</label>
                                <div id="delivery-detail-user">
                                    @Html.TextBox("_Agent", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = @User.Identity.Name })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="delivery-detail-contact">Kontakt osoba</label>
                                <div id="delivery-detail-contact">
                                    @Html.DropDownList("_ContactId", Model.RelatedDeliveryContactsForDetails, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="delivery-detail-id">Odaberi staru napomenu za izmjenu</label>
                                <div id="delivery-detail-contact">
                                    @Html.DropDownList("_DetailNoteId", Model.DeliveryDetailsIds, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label for="delivery-detail">Nova napomena</label>
                                <div id="delivery-detail">
                                    @Html.TextArea("_DetailNote", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Napomena dostave" })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-detail-ticketid">
                                    @Html.TextBox("_TicketId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.TicketId })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Kreiraj napomenu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
                </div>
            </div>
        </div>
    </div>
}

<!--Modal - ChangeEmail-->
@using (Html.BeginForm("ChangeEmail", "Delivery", FormMethod.Post))
{
    <div class="modal fade" id="ChangeEmail" tabindex="-1" role="dialog" aria-labelledby="ChangeEmail">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="overflow:hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Izmijeni e-mail adresu za dostavu dokumenta</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="hidden">
                                <div id="delivery-detail-receiver">
                                    @Html.TextBox("_Receiver", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.ReceiverId })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-detail-user">
                                    @Html.TextBox("_Agent", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = @User.Identity.Name })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="delivery-email">
                                    <label for="delivery-email">@Html.DisplayNameFor(model => model.ReceiverEmail)</label>
                                    @Html.DisplayFor(model => model.ReceiverEmail)
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <div id="delivery-new-email">
                                    @Html.TextBox("_Email", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Nova e-mail adresa" })
                                </div>
                            </div>
                            <div class="hidden">
                                <div id="delivery-detail-ticketid">
                                    @Html.TextBox("_Id", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.MerElectronicId })
                                </div>
                                <div id="delivery-detail-ticketid">
                                    @Html.TextBox("_TicketId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.TicketId })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Izmijeni adresu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
                </div>
            </div>
        </div>
    </div>
}

<!--Modal - DeleteDetail-->
@using (Html.BeginForm("DeleteDetail", "Delivery", FormMethod.Post))
{
    <div class="modal fade" id="DeleteDetail" tabindex="-1" role="dialog" aria-labelledby="DeleteDetail">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content panel-danger" style="overflow:hidden">
                <div class="modal-header panel-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Brisanje napomene dostave</h4>
                </div>
                <div class="modal-body">
                    <p>Odabirom niže napomene, uklonit ćete napomenu iz sustava!</p>
                </div>
                <div class="hidden">
                    <label for="delivery-detail-id">Odaberi napomenu za brisanje</label>
                    <div id="delivery-detail-contact">
                        @Html.DropDownList("DetailId", Model.DeliveryDetailsIds, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Izbriši napomenu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
                </div>
            </div>
        </div>
    </div>
}

<h2 style="text-align:center"><strong>Detalji za preuzimanje dokumenta: @Html.DisplayFor(model => model.MerDocumentTypeIdString) @Model.InvoiceNumber (@Model.DocumentStatusString)</strong></h2>
<br />
<div>
    <div class="row" style="text-align:center">
        <div class="col-md-12">
            <a href="@Url.RouteUrl(new { action = "UpdateStatusDetails", controller = "Delivery", area = "", Model.TicketId, Model.MerElectronicId, Model.ReceiverId, returnUrl = Request.Url })" class="btn btn-sm btn-success" title="Osvježavanje statusa dokumenta - @Model.MerDocumentTypeIdString - @Model.InvoiceNumber"><i class="glyphicon glyphicon-refresh"></i> Osvježi status</a>
            <a href="@Url.RouteUrl(new { action = "Resend", controller = "Delivery", area = "", Model.TicketId, Model.MerElectronicId, Model.ReceiverId, User.Identity.Name, returnUrl = Request.Url })" class="btn btn-sm btn-warning" title="Ponovno slanje obavijesti o dostavi eRačuna"><i class="glyphicon glyphicon-share-alt"></i> Ponovi slanje</a>
            <button type="button" title="Promjena e-mail adrese za dostavu eRačuna" class="btn btn-primary btn-sm" data-toggle="modal" href="#ChangeEmail"><i class="glyphicon glyphicon-envelope"></i> Izmjena e-maila</button>
            <a href="@Url.RouteUrl(new { action = "Index", controller = "Delivery", area = "", returnUrl = Request.Url})" class="btn btn-sm btn-default" title="Povratak na inicijalni popis kartica"><i class="glyphicon glyphicon-arrow-left"></i> Povratak</a>
        </div>
    </div>
</div>
<hr />

<div>
    <div class="row">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.SenderName)</strong>
            @Model.SenderName (@Model.SenderVAT)
        </div>
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.ReceiverName)</strong>
            @Model.ReceiverName (@Model.ReceiverVAT)
        </div>
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.ReceiverEmail)</strong>
            @Html.DisplayFor(model => model.ReceiverEmail)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.MerDocumentTypeIdString)</strong>
            @Model.MerDocumentTypeIdString
        </div>
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.InvoiceNumber)</strong>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </div>
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.SentDate)</strong>
            @Html.DisplayFor(model => model.SentDate)
        </div>
    </div>
    <hr />
    <h4><img src="~/Content/e_racun_logo_source.png" style="width:100px; height:30px" /></h4>
    <div class="row">
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.MerDeliveryDetailComment)</strong>
            @Html.DisplayFor(model => model.MerDeliveryDetailComment)
        </div>
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.MerDeliveryDetailTelephone)</strong>
            @Html.DisplayFor(model => model.MerDeliveryDetailTelephone)
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-6">
        <h4>Napomene dostave</h4>
    </div>
    <div class="col-md-6">
        <button type="button" title="Kreiranje napomene dostave" class="btn btn-default btn-sm" data-toggle="modal" href="#AddDetail">Kreiraj napomenu</button>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a role="button" data-toggle="collapse" href="#content-delivery-details" aria-expanded="false" aria-controls="content-contacts">Pregled napomena dostave</a>
            </div>
        </div>
        <div id="content-delivery-details" class="collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DeliveryDetailDateTime)</th>
                        <th>@Html.DisplayNameFor(model => model.DeliveryDetailAgent)</th>
                        <th>@Html.DisplayNameFor(model => model.DeliveryDetailDetail)</th>
                        <th>@Html.DisplayNameFor(model => model.DeliveryDetailContact)</th>
                        <th></th>
                    </tr>
                    @foreach (var Detail in Model.RelatedDeliveryDetails)
                    {
                        <tr>
                            <td>@Detail.InsertDate</td>
                            <td>@Detail.User</td>
                            <td>@Detail.DetailNote</td>
                            <td>@Detail.Contact</td>
                            <td>
                                <a href="#EditDetail" data-toggle="modal"><i class="glyphicon glyphicon-edit"></i></a>
                                <a href="#DeleteDetail" data-toggle="modal"><i class="glyphicon glyphicon-trash" style="color:gray"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Kontakt podaci</h4>
    </div>
    <div class="col-md-6">
        <button type="button" title="Kreiranje kontakta" class="btn btn-default btn-sm" data-toggle="modal" href="#CreateContact">Kreiraj kontakt</button>
        <a role="button" data-toggle="modal" href="#EditContact" class="btn btn-sm btn-default" title="Izmjena kontakta za dostavu">Izmjeni kontakt</a>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a role="button" data-toggle="collapse" href="#content-contacts" aria-expanded="false" aria-controls="content-contacts">Pregled kontakata za dostavu eRačuna</a>
            </div>
        </div>
        <div id="content-contacts" class="collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DeliveryContactFirstName)</th>
                        <th>@Html.DisplayNameFor(model => model.DeliveryContactLastName)</th>
                        <th>@Html.DisplayNameFor(model => model.DeliveryContactTelephone)</th>
                        <th>@Html.DisplayNameFor(model => model.DeliveryEmailAddress)</th>
                        <th>@Html.DisplayNameFor(model => model.DeliveryContactAgent)</th>
                        <th></th>
                    </tr>
                    @foreach (var Contact in Model.RelatedDeliveryContacts)
                    {
                        <tr>
                            <td>@Contact.ContactFirstName</td>
                            <td>@Contact.ContactLastName</td>
                            <td>@Contact.TelephoneNumber;  @Contact.MobilePhoneNumber</td>
                            <td><a data-agent="@User.Identity.Name" data-email="@Contact.Email" data-ticket-id="@Html.Raw(Model.TicketId)" name="contact-email" class="delivery-mail" href="mailto:@Contact.Email">@Contact.Email</a></td>
                            <td>@Contact.User</td>
                            <td>
                                <a href="#AddDetail" data-toggle="modal"><i style="color: forestgreen" class="glyphicon glyphicon-phone-alt"></i></a>
                                <a data-receiver-id="@Html.Raw(Model.ReceiverId)" data-agent="@User.Identity.Name" data-contact="" data-detail-template="Informativni poziv" data-detail-note="" data-ticket-id="@Model.TicketId" data-identifier-short="2" href="#" class="add-successfull-call-short"><i style="color: lightgreen" class="glyphicon glyphicon-phone-alt"></i></a>
                                <a data-receiver-id="@Html.Raw(Model.ReceiverId)" data-agent="@User.Identity.Name" data-contact="" data-detail-template="Nisu se javili" data-detail-note="" data-ticket-id="@Model.TicketId" data-identifier="3" href="#" class="add-unsuccessfull-call"><i style="color: gold" class="glyphicon glyphicon-phone-alt"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" href="#content-undelivered" aria-expanded="false">Pregled ostalih nepreuzetih dokumenata</a>
            </div>
        </div>
        <div id="content-undelivered" class="collapse">
            <div class="">
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SenderName)</th>
                        <th>@Html.DisplayNameFor(model => model.MerDocumentTypeIdString)</th>
                        <th>@Html.DisplayNameFor(model => model.ReceiverEmail)</th>
                        <th>@Html.DisplayNameFor(model => model.InvoiceNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.SentDate)</th>
                        <th></th>
                    </tr>
                    @foreach (var Invoice in Model.RelatedInvoices)
                    {
                        <tr>
                            <td>@Invoice.Sender.SubjectName</td>
                            <td>@Invoice.MerDocumentTypeIdString<br /><span class="label label-info">@Model.DocumentStatusString</span></td>
                            <td>@Invoice.BuyerEmail</td>
                            <td>@Invoice.InvoiceNumber</td>
                            <td>@Invoice.SentDate.ToShortDateString()</td>
                            <td>
                                <a href="@Url.RouteUrl(new { action = "Details", controller = "Delivery", area = "", Invoice.Id, Invoice.ReceiverId, User.Identity.Name, returnUrl = Request.Url })"><i class="glyphicon glyphicon-edit"></i></a>
                                <a href="@Url.RouteUrl(new { action = "UpdateStatusIndex", controller = "Delivery", area = "", Invoice.Id, returnUrl = Request.Url })"><i style="color: forestgreen" class="glyphicon glyphicon-refresh"></i></a>
                                <a href="@Url.RouteUrl(new { action = "Resend", controller = "Delivery", area = "", Model.TicketId, Model.MerElectronicId, Model.ReceiverId, User.Identity.Name, returnUrl = Request.Url })"><i style="color: gold" class="glyphicon glyphicon-share-alt"></i></a>
                                <a data-mer-id="@Html.Raw(Invoice.MerElectronicId)" href="#" class="remove-from-list-ajax"><i style="color: red" class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" href="#content-history" aria-expanded="false">Povijest razmjene eDokumenata</a>
            </div>
        </div>
        <div id="content-history" class="collapse">
            <div class="">
                <table class="table">
                    <tr>
                        <th>Tip dokumenta</th>
                        <th>Status dokumenta</th>
                        <th>Naziv pošiljatelja</th>
                        <th>E-mail adresa</th>
                        <th>Datum slanja</th>
                        <th></th>
                    </tr>
                    @foreach (var Document in Model.DocumentHistory)
                    {
                        <tr>
                            <td>@Model.DocumentHistoryDocTypeString</td>
                            <td>@Model.DocumentHistoryStatusString</td>
                            <td>@Document.PosiljateljNaziv</td>
                            <td>@Document.EmailPrimatelja</td>
                            <td>@Document.DatumOtpreme.ToShortDateString()</td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>
<hr />

<script>
    $(document).on("click", "a.remove-from-list-ajax", function (e) {
        e.preventDefault();
        if (window.confirm("Jeste li sigurni da želite ukloniti ovaj račun iz popisa za dostavu?"))
            $.ajax({
                method: 'POST',
                url: '@Url.RouteUrl(new { action = "Remove", controller = "Delivery", area = "" })',
                data: {
                    MerElectronicId: $(this).data("mer-id")
                },
                success: function (data) {
                    if (data.Status === 'OK')
                        alert("Uspješno ste uklonili račun iz popisa za dostavu!");
                    else
                        alert("Greška!");
                },
                dataType: 'json'
            });
    });
    $(document).on("click", "a.add-successfull-call-short", function (e) {
        e.preventDefault();
        $.ajax({
            method: 'POST',
            url: '@Url.RouteUrl(new { action = "AddDetail", controller = "Delivery", area = "" })',
            data: {
                _ReceiverId: $(this).data("receiver-id"),
                _Agent: $(this).data("agent"),
                _ContactId: $(this).data("contact"),
                _DetailTemplate: $(this).data("detail-template"),
                _DetailNote: $(this).data("detail-note"),
                _TicketId: $(this).data("ticket-id"),
                Identifier: $(this).data("identifier-short")
            },
            dataType: 'json'
        });
    });
        $(document).on("click", "a.add-unsuccessfull-call", function (e) {
        e.preventDefault();
        $.ajax({
            method: 'POST',
            url: '@Url.RouteUrl(new { action = "AddDetail", controller = "Delivery", area = "" })',
            data: {
                _ReceiverId: $(this).data("receiver-id"),
                _Agent: $(this).data("agent"),
                _ContactId: $(this).data("contact"),
                _DetailTemplate: $(this).data("detail-template"),
                _DetailNote: $(this).data("detail-note"),
                _TicketId: $(this).data("ticket-id"),
                Identifier: $(this).data("identifier")
            },
            dataType: 'json'
        });
    });
        $(document).on("click", "a.delivery-mail", function (e) {
        e.preventDefault();
        $.ajax({
            method: 'POST',
            url: '@Url.RouteUrl(new { action = "LogEmail", controller = "Delivery", area = "" })',
            data: {
                _Agent: $(this).data("agent"),
                _Email: $(this).data("email"),
                _TicketId: $(this).data("ticket-id"),
            },
            dataType: 'json'
        });
        var email = $(this).data("email");
        var subject = "Upit";
        window.location = 'mailto:' + email + '?subject=' + subject;
        });
</script>
