@model IEnumerable<MojCRM.Models.Delivery>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Dostava eRačuna";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<body>
    <h2>Pregled dokumenata za dostavu</h2>

    <br />
    <div>
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("CreateTickets", "Delivery")" class="btn btn-primary">
                    Kreiranje kartica za dostavu
                </a>
                <a href="@Url.Action("UpdateAllStatuses", "Delivery")" class="btn btn-warning">
                    Provjeri sve statuse
                </a>
            </div>
        </div>
    </div>
    <br />

    @using (Html.BeginForm("Index", "Delivery", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-4">
                <label>Interni broj računa</label>
                <div class="form-group">
                    @Html.TextBox("InvoiceNumber", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Interni broj računa"})
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <button id="Search" type="submit" class="btn btn-success">Traži!</button>
                    <button id="ResetSearch" type="reset" class="btn btn-danger">Poništi!</button>
                </div>
            </div>
        </div>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.ActionLink("Datum slanja dokumenta", "Index", new { SortOrder = ViewBag.SentDateParm, CurrentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Tip dokumenta", "Index", new { SortOrder = ViewBag.DocumentTypeParm, CurrentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentStatus)
            </th>
            <th>
                @Html.ActionLink("Datum kreiranja kartice", "Index", new { SortOrder = ViewBag.InsertDateParm, CurrentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MerDocumentTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertDate)
                </td>
                <td>
                    @*Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                    @Html.ActionLink("Detalji", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Izbriši", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>