
@{
    ViewBag.Title = "Administracija sustava";
    Layout = "~/Views/Shared/_UserLayoutNew.cshtml";
}

<h2 style="text-align:center"><strong>Administracija sustava</strong></h2>
<hr />
<h4><i class="fa fa-users"></i> Korisnici</h4>
<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Index", "Account")" class="btn btn-default btn-sm">
            Administracija korisnika
        </a>
    </div>
</div>
<hr />
<h4><i class="fa fa-industry"></i> Tvrtke</h4>
<div class="row">
    <div class="col-md-3">
        <a href="@Url.RouteUrl(new { action = "GetOrganizations", controller = "Organizations", area = "" })" class="btn btn-default btn-sm">
            Kreiranje novih tvrtki iz Moj-eRačun
        </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.RouteUrl(new { action = "UpdateOrganizations", controller = "Organizations", area = "" })" class="btn btn-default btn-sm">
            Ažuriranje tvrtki iz Moj-eRačun
        </a>
    </div>
</div>
<hr />
<h4><i class="fa fa-ticket"></i> Dostava</h4>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-default btn-sm" href="@Url.RouteUrl(new { action = "CreateTicketsFirstTime", controller = "Delivery", area = "" })">Kreiranje kartica za prvi put</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-sm" href="@Url.RouteUrl(new { action = "CreateTickets", controller = "Delivery", area = "" })">Kreiranje kartica za preuzimanje</a>
    </div>
</div>
<hr />

