@model MojCRM.ViewModels.DeliveryStatsViewModel
@{
    ViewBag.Title = "Statistika kreiranih kartica";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 style="text-align:center"><strong>Statistike odjela dostave</strong></h2>
<h3 style="text-align:center"><strong>Statistika kreiranih kartica</strong></h3>

@using (Html.BeginForm("Delivery", "Stats", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="search-date">Datum pretrage</label>
                <div id="search-date">
                    @Html.TextBox("SearchDate", ViewBag.CurrentFilter as string, new { @class = "date-picker form-control", @placeholder = "Traženi datum", @type = "text", @id = "search-date", @name = "search-date" })
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-top:22px">
            <div class="form-group">
                <div>
                    <input id="Search" type="submit" class="btn btn-primary btn-sm" value="Traži" />
                    <input id="btn-reset" type="reset" class="btn btn-warning btn-sm" value="Poništi" />
                </div>
            </div>
        </div>
    </div>
}


<br />
<div class="row">
    <div class="col-md-12">
        Danas je kreirano ukupno <strong>@Model.CreatedTicketsTodayCount</strong> kartica (od toga <strong>@Model.CreatedTicketsTodayFirstTimeCount</strong> za prvi puta)
    </div>
</div>
<hr />
<h4 style="text-align:center">Raspored kartica po danima</h4>
<br />
<table class="table">
    <tr>
        <th>Datum slanja dokumenta</th>
        <th>Broj kreiranih kartica</th>
        <th>Broj kreiranih kartica za prvi put</th>
    </tr>
    @foreach (var item in Model.Deliveries)
    {
        <tr>
            <td>@item.ReferenceDate.ToShortDateString()</td>
            <td>@item.CreatedTicketsCount</td>
            <td>@item.CreatedTicketsFirstTimeCount</td>
        </tr>
    }
</table>

