@model MojCRM.ViewModels.PersonalDailyActivitiesViewModel
@{
    ViewBag.Title = "Dnevnik osobnih aktivnosti";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 style="text-align:center"><strong>Osobni dnevnik</strong></h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <div style="text-align:justify">
            Dnevnik osobnih aktivnosti za djelatnika: <strong>@ViewBag.User</strong> za datum <strong>@ViewBag.Date</strong><br />
            Broj odjela u kojima ste odradili neku aktivnost: <strong>@ViewBag.DistinctDepartments</strong>.<br />
            Ukupno ste odradili <strong>@Model.PersonalActivities.Count</strong> različitih aktivnosti.
        </div>
    </div>
</div>
<br />
<div class="row">
    @using (Html.BeginForm("PersonalDailyActivities", "Stats", FormMethod.Get))
    {
        <div class="col-md-3">
            <div class="form-group">
                <label for="search-date">Datum pretrage</label>
                <div id="search-date">
                    @Html.TextBox("SearchDate", ViewBag.CurrentFilter as string, new { @class = "date-picker form-control", @placeholder = "Traženi datum", @type = "text", @id = "search-date", @name = "search-date" })
                </div>
            </div>
        </div>
        <div class="hidden">
            @Html.TextBox("Name", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = User.Identity.Name})
        </div>
        if (User.IsInRole("Superadmin") || User.IsInRole("Management"))
        {
            <div class="col-md-4">
                <label for="Agents">Pretraživanje dnevnika agenata</label>
                <div id="Agents">
                    @Html.DropDownList("Agent", Model.AgentList, new { @class = "form-control" })
                </div>
            </div>
        }
        <div class="col-md-3" style="margin-top:22px">
            <div class="form-group">
                <div>
                    <input id="Search" type="submit" class="btn btn-primary btn-sm" value="Traži" />
                    <input id="btn-reset" type="reset" class="btn btn-warning btn-sm" value="Poništi" />
                </div>
            </div>
        </div>
    }
</div>

<hr />
<div class="jumbotron">
    <table class="table">
        <tr>
            <td><strong>Aktivnost</strong></td>
            <td><strong>Opis aktivnosti</strong></td>
            <td><strong>Odjel</strong></td>
        </tr>
        @foreach (var Activity in @Model.PersonalActivities)
        {
            <tr>
                <td>@Activity.ActivityTypeString</td>
                <td>@Activity.Description</td>
                <td>@Activity.DepartmentString</td>
            </tr>
        }
    </table>
</div>

<script>
    $(function () {
        $(".date-picker").datepicker({
            language: 'hr',
            weekStart: 1,
            format: "dd.mm.yyyy.",
            autoclose: true,
            orientation: "auto bottom",
        });
        $("#btn-reset").click(function (e) {
            $(document).find('input[type=text]').attr('value', '');
            $(document).find("select option").attr('selected', false);
        });
    })
</script>

