@model MojCRM.ViewModels.OrganizationDetailsViewModel
@{
    Layout = null;
}
<!--Modal - ChangeAdditionalInfo-->
@using (Html.BeginForm("EditOrganizationDetails", "Organizations", FormMethod.Post))
{
    <div class="modal fade" id="changeAdditionalInfo" tabindex="-1" role="dialog" aria-labelledby="changeAdditionalInfo">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="overflow:hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Izmijeni podatke o ERP-u i broju računa</h4>
                </div>
                <div class="modal-body changeEmail">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label for="erp">ERP:</label>
                                <div id="erp">
                                    @Html.TextBox("ERP", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.OrganizationDetails.ERP })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label for="sent-invoices">Broj IRA:</label>
                                <div id="sent-invoices">
                                    @Html.TextBox("NumberOfInvoicesSent", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.OrganizationDetails.NumberOfInvoicesSent })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label for="received-invoices">Broj URA:</label>
                                <div id="received-invoices">
                                    @Html.TextBox("NumberOfInvoicesReceived", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.OrganizationDetails.NumberOfInvoicesReceived })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="hidden">
                            <div id="organization-id">
                                @Html.TextBox("MerId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.Organization.MerId })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer ouside of content, new design. If reactions are bad return it one level up-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Izmijeni podatke</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
            </div>
        </div>
    </div>
}
<!--Modal - ChangeServiceProvider-->
@using (Html.BeginForm("EditImportantOrganizationInfo", "Organizations", FormMethod.Post))
{
    <div class="modal fade" id="changeServiceProvider" tabindex="-1" role="dialog" aria-labelledby="changeServiceProvider">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="overflow:hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Izmijeni podatke o informacijskom posredniku</h4>
                </div>
                <div class="modal-body changeEmail">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label for="legal-form">Pravni oblik:</label>
                                <div id="legal-form">
                                    @Html.DropDownList("ServiceProvider", Model.ServiceProviderDropdown, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="hidden">
                            <div id="organization-id">
                                @Html.TextBox("MerId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.Organization.MerId })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer ouside of content, new design. If reactions are bad return it one level up-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Izmijeni podatke</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
            </div>
        </div>
    </div>
}
<div class="col-md-3">

</div>
<div class="col-md-9">
    <div class="row">
        <div class="col-md-11" title="ERP ili druga računovodstvena programska rješenja ">
            <strong>ERP(ovi): </strong>@Model.OrganizationDetails.ERP
        </div>
        <div class="col-md-1" title="Uredi podatke o ERP-u i broju računa">
            <a href="#changeAdditionalInfo" data-toggle="modal"><i class="fa fa-edit"></i></a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6" title="Broj izlaznih računa na mjesečnoj razini">
            <strong>Broj IRA: </strong>@Model.OrganizationDetails.NumberOfInvoicesSent
        </div>
        <div class="col-md-6" title="Broj ulaznih računa na mjesečnoj razini">
            <strong>Broj URA: </strong>@Model.OrganizationDetails.NumberOfInvoicesReceived
        </div>
    </div>
    <hr />
    <div class="row">
        <p class="col-md-11">Informacijski posrednik</p>
        @if (User.IsInRole("Superadmin"))
        {
            <div class="col-md-1" title="Uredi informacijskog posrednika">
                <a href="#changeServiceProvider" data-toggle="modal"><i class="fa fa-edit"></i></a>
            </div>
        }
    </div>
    <div class="row" title="Podaci o formalnoj razmjeni putem servisa Moj-eRačun">
        <div class="col-md-6">
            <strong>Ovaj subjekt za razmjenu eDokumenata koristi posrednika: </strong>
        </div>
        @if (Model.Organization.ServiceProvider == MojCRM.Models.Organizations.ServiceProviderEnum.MER)
        {
            <div class="col-md-6"><img src="~/Content/e_racun_logo_source.png" alt="Moj-eRačun korisnik" title="Moj-eRačun korisnik" style="width:90px; height:27px" /></div>;
        }
        @if (Model.Organization.ServiceProvider == MojCRM.Models.Organizations.ServiceProviderEnum.FINAB2G || Model.Organization.ServiceProvider == MojCRM.Models.Organizations.ServiceProviderEnum.FINAB2B)
        {
            <div class="col-md-6"><img src="~/Content/630px-FINA_Logo.svg.png" alt="FINA korisnik" title="FINA korisnik" style="width:85px; height:16px" /></div>;
        }
    </div>
    <hr />
    <h5><img src="~/Content/e_racun_logo_source.png" style="width:100px; height:30px;" title="Podaci o korištenju servisa Moj-eRačun" /></h5>
    <br />
    <div class="row">
        <div class="col-md-6" title="Datum i vrijeme slanja prvog eDokumenta putem servisa Moj-eRačun">
            <strong>Prvo slanje: </strong>@Model.Organization.FirstSent
        </div>
        <div class="col-md-6" title="Datum i vrijeme zaprimanja prvog eDokumenta putem servisa Moj-eRačun">
            <strong>Prvo zaprimanje: </strong>@Model.Organization.FirstReceived
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6" title="Ukupno poslano eDokumenata putem servisa Moj-eRačun">
            <strong>Ukupno poslano: </strong>@Model.MerDeliveryDetails.TotalSent
        </div>
        <div class="col-md-6" title="Ukupno zaprimljeno eDokumenata putem servisa Moj-eRačun">
            <strong>Ukupno zaprimljeno: </strong>@Model.MerDeliveryDetails.TotalReceived
        </div>
    </div>
</div>

