@model MojCRM.ViewModels.OrganizationDetailsViewModel
@{
    Layout = null;
}
<div class="col-md-3">

</div>
<div class="col-md-9">
    <div class="row">
        <div class="col-md-6" title="Osobni identifikacijski broj">
            <strong>OIB: </strong>@Model.Organization.VAT
        </div>
        <div class="col-md-6" title="Podaci iz 2015.">
            <strong>Ukupni godišnji prihod: </strong>@Html.DisplayFor(m => m.Organization.Income)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <strong>Članstvo u grupaciji: </strong>@Model.OrganizationGroupString
        </div>
        <div class="col-md-6" title="Podaci iz 2015.">
            <strong>Broj zaposlenih: </strong>@Model.Organization.Employees
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <strong>Pravni oblik: </strong>@Model.LegalFormString
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6" title="Broj telefona za kontakt">
            <strong>Broj telefona: </strong>@Model.OrganizationDetails.TelephoneNumber
        </div>
        <div class="col-md-6" title="Broj mobitela za kontakt">
            <strong>Broj mobitela: </strong>@Model.OrganizationDetails.MobilePhoneNumber
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" title="E-mail adresa/adrese za kontakt">
            <strong>E-mail adrese: </strong>@Model.OrganizationDetails.EmailAddress
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <strong>Adresa sjedišta</strong>
        </div>
        <div class="col-md-6">
            <strong>Adresa za dostavu</strong>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(m => m.OrganizationDetails.MainAddress)</strong>
        </div>
        <div class="col-md-3">
            @Model.OrganizationDetails.MainAddress
        </div>
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(m => m.OrganizationDetails.CorrespondenceAddress)</strong>
        </div>
        <div class="col-md-3">
            @Model.OrganizationDetails.CorrespondenceAddress
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(m => m.OrganizationDetails.MainPostalCode)</strong>
        </div>
        <div class="col-md-3">
            @Model.OrganizationDetails.MainPostalCode
        </div>
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(m => m.OrganizationDetails.CorrespondencePostalCode)</strong>
        </div>
        <div class="col-md-3">
            @Model.OrganizationDetails.CorrespondencePostalCode
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(m => m.OrganizationDetails.MainCity)</strong>
        </div>
        <div class="col-md-3">
            @Model.OrganizationDetails.MainCity
        </div>
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(m => m.OrganizationDetails.CorrespondenceCity)</strong>
        </div>
        <div class="col-md-3">
            @Model.OrganizationDetails.CorrespondenceCity
        </div>
    </div>
    @if (Model.OrganizationDetails.MainCountry == MojCRM.Models.OrganizationDetail.CountryIdentificationCodeEnum.HR)
    {
        <br />
        <div class="row">
            <div class="col-md-3">
                <strong>@Html.DisplayNameFor(m => m.MainCountyString)</strong>
            </div>
            <div class="col-md-3">
                @Model.MainCountyString
            </div>
            <div class="col-md-3">
                <strong>@Html.DisplayNameFor(m => m.CorrespondenceCountyString)</strong>
            </div>
            <div class="col-md-3">
                @Model.CorrespondenceCountyString
            </div>
        </div>
    }
    <br />
    <div class="row">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(m => m.OrganizationDetails.MainCountry)</strong>
        </div>
        <div class="col-md-3">
            @Model.MainCountryCodeString
        </div>
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(m => m.OrganizationDetails.CorrespondenceCountry)</strong>
        </div>
        <div class="col-md-3">
            @Model.CorrespondenceCountryCodeString
        </div>
    </div>
    <hr />
    <p>Podaci o administraciji tvrtke</p>
    <div class="row">
        <div class="col-md-6" title="Datum i vrijeme unosa tvrtke u Moj-CRM bazu">
            <strong>Datum unosa: </strong>@Model.Organization.InsertDate
        </div>
        <div class="col-md-6" title="Datum i vrijeme zadnje promjene tvrtke u Moj-CRM bazi">
            <strong>Datum promjene: </strong>@Model.Organization.UpdateDate
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6" title="Datum i vrijeme zadnje sinkronizacije sa Moj-eRačun">
            <strong>Datum zadnje sinkronizacije: </strong>@Model.Organization.MerUpdateDate
        </div>
        <div class="col-md-6" title="Ime i prezime korisnika koji je napravio zadnju promjenu">
            <strong>Zadnju promjenu napravio: </strong>@Model.Organization.LastUpdatedBy
        </div>
    </div>
</div>
