@model MojCRM.ViewModels.OrganizationDetailsViewModel
@{
    Layout = null;
}
<!--Modal - EditImportantComment-->
@using (Html.BeginForm("EditImportantComment", "Organizations", FormMethod.Post))
{
    <div class="modal fade" id="editImportantComment" tabindex="-1" role="dialog" aria-labelledby="editImportantComment">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="overflow:hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Uredi napomenu za dostavu za ovog primatelja</h4>
                </div>
                <div class="modal-body changeEmail">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <label for="important-comment">Napomena:</label>
                                <div id="important-comment">
                                    @Html.TextArea("Comment", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="hidden">
                            <div id="organization-id">
                                @Html.TextBox("ReceiverId", ViewBag.CurrentFilter as string, new { @class = "form-control", @Value = Model.Organization.MerId })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer ouside of content, new design. If reactions are bad return it one level up-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Izmijeni podatke</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
            </div>
        </div>
    </div>
}
<div class="col-md-3">

</div>
<div class="col-md-9">
    <div class="row">
        <div class="col-md-11" title="Napomena o zaprimanju eRačuna ključna za ovog subjekta" style="color:red">
            <strong>Glavna napomena za zaprimanje eRačuna: </strong>@Model.MerDeliveryDetails.ImportantComments
        </div>
        <div class="col-md-1" title="Uredi ključnu napomenu o zaprimanju eRačuna za ovog subjekta">
            <a href="#editImportantComment" data-toggle="modal"><i class="fa fa-edit"></i></a>
        </div>
    </div>
    <br />
    <div class="col-md-12" title="Napomena o zaprimanju eRačuna prikupljena prilikom obrade baze podataka korisnika">
        <strong>Prikupljena informacija o zaprimanju eRačuna: </strong>@Model.MerDeliveryDetails.AcquiredReceivingInformation
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6" title="Komentari o dostavi eRačuna iz servisa Moj-eRačun">
            <strong>Napomena: </strong>@Model.MerDeliveryDetails.Comments
        </div>
        <div class="col-md-6" title="Kontakt brojevi iz servisa Moj-eRačun">
            <strong>Komentari: </strong>@Model.MerDeliveryDetails.Telephone
        </div>
    </div>
</div>


