@model MojCRM.ViewModels.OrganizationDetailsViewModel
@{
    Layout = null;
}
<div class="col-md-3">

</div>
<div class="col-md-9">
    @if (Model.Opportunities.Count() != 0)
    {
        <table class="table">
            <tr>
                <th>Naziv kampanje</th>
                <th>Status prilike</th>
                <th>Opis prilike</th>
                <th>Zadnji kontakt</th>
                <th>Dodijeljeno agentu</th>
                <th></th>
            </tr>
            @foreach (var Opportunity in Model.Opportunities)
            {
                <tr>
                    <td>@Opportunity.RelatedCampaign.CampaignName</td>
                    @if (Opportunity.OpportunityStatus == MojCRM.Areas.Sales.Models.Opportunity.OpportunityStatusEnum.START)
                    {
                        <td><span class="label label-default">@Html.Raw(Opportunity.OpportunityStatusString)</span></td>
                    }
                    @if (Opportunity.OpportunityStatus == MojCRM.Areas.Sales.Models.Opportunity.OpportunityStatusEnum.INCONTACT)
                    {
                        <td><span class="label label-primary">@Html.Raw(Opportunity.OpportunityStatusString)</span></td>
                    }
                    @if (Opportunity.OpportunityStatus == MojCRM.Areas.Sales.Models.Opportunity.OpportunityStatusEnum.LEAD)
                    {
                        <td><span class="label label-success">@Html.Raw(Opportunity.OpportunityStatusString)</span></td>
                    }
                    @if (Opportunity.OpportunityStatus == MojCRM.Areas.Sales.Models.Opportunity.OpportunityStatusEnum.MERUSER)
                    {
                        <td><img src="~/Content/e_racun_logo_source.png" alt="Moj-eRačun korisnik" title="Moj-eRačun korisnik" style="width:90px; height:27px" /></td>
                    }
                    @if (Opportunity.OpportunityStatus == MojCRM.Areas.Sales.Models.Opportunity.OpportunityStatusEnum.FINAUSER)
                    {
                        <td><img src="~/Content/630px-FINA_Logo.svg.png" alt="FINA korisnik" title="FINA korisnik" style="width:85px; height:16px" /></td>
                    }
                    @if (Opportunity.OpportunityStatus == MojCRM.Areas.Sales.Models.Opportunity.OpportunityStatusEnum.eFAKTURAUSER)
                    {
                        <td><img src="~/Content/eFaktura2.png" alt="eFaktura korisnik" title="eFaktura korisnik" /></td>
                    }
                    @if (Opportunity.OpportunityStatus == MojCRM.Areas.Sales.Models.Opportunity.OpportunityStatusEnum.REJECTED)
                    {
                        <td><span class="label label-danger">@Html.Raw(Opportunity.OpportunityStatusString)</span><br /><span style="color:red">@Html.Raw(Opportunity.OpportunityRejectReasonString)</span></td>
                    }
                    <td>@Opportunity.OpportunityDescription</td>
                    <td>@Opportunity.LastContactDate</td>
                    <td>@Opportunity.AssignedTo</td>
                    @if ((User.Identity.Name == Opportunity.AssignedTo) || (User.IsInRole("Management") || User.IsInRole("Administrator") || User.IsInRole("Superadmin")))
                    {
                    <td>
                        <span>
                            <a href="@Url.RouteUrl(new { action = "Details", controller = "Opportunities", area = "Sales", id = Opportunity.OpportunityId })" title="Detalji prodajne prilike"><i class="fa fa-list"></i></a>
                        </span>
                    </td>;
                    }
                </tr>
            }
        </table>
    }
    else
    {
        <p>Za ovu tvrtku nisu kreirane prodajne prilike</p>
    }
</div>
