@using GridMvc.Html

@model MojCRM.ViewModels.OrganizationIndexViewModel
@{
    ViewBag.Title = "Popis tvrtki";
    Layout = "~/Views/Shared/_UserLayoutNew.cshtml";
}

<body>
    <h2 style="text-align:center"><strong>Popis tvrtki</strong></h2>
    <hr />
    @using (Html.BeginForm("Index", "Organizations", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="organization-vat-search">OIB tvrtke</label>
                    <div id="organization-vat-search">
                        @Html.TextBox("VAT", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "OIB tvrtke" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="organization-name-search">Naziv tvrtke</label>
                    <div id="organization-name-search">
                        @Html.TextBox("SubjectName", ViewBag.CurrentFilter as string, new {@class = "form-control", @placeholder = "Naziv tvrtke"})
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="organization-city-search">Mjesto sjedišta tvrtke</label>
                    <div id="organization-city-search">
                        @Html.TextBox("MainCity", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Mjesto sjedišta tvrtke" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="organization-isActive-search">Status tvrtke</label>
                    <div id="organization-isActive-search">
                        @Html.DropDownList("IsActive", Model.LegalStatusDropdown, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="organization-group-search">Grupacija tvrtke</label>
                    <div id="organization-group-search">
                        @Html.DropDownList("Group", Model.OrganizationGroupDropdown, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="alert alert-info">
                    Broj rezultata: <strong>@Model.ResultsCount</strong>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-md-12">
            <div class="form-group" style="margin-bottom:0">
                <input id="Search" type="submit" class="btn btn-primary btn-sm" value="Traži" />
                <input id="btn-reset" type="reset" class="btn btn-warning btn-sm" value="Poništi" />
            </div>
        </div>
    }
    <hr />
    @Html.Grid(Model.OrganizationList).Named("PopisSvihTvrtki").SetLanguage("hr").EmptyText("Nema rezultata").Columns(columns =>
{
    columns.Add(m => m.VAT).Encoded(false).Sanitized(false).Titled("OIB tvrtke").Sortable(true);
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m =>
    {
        if (m.IsActive)
        {
            return @<div>
                       <span class="label label-success">Aktivna</span>
                   </div>;
        }
        if (!m.IsActive)
        {
            return @<div>
                       <span class="label label-danger">Brisana</span>
                   </div>;
        }
        return @<div></div>;

    });
    columns.Add(m => m.SubjectName).Encoded(false).Sanitized(false).Titled("Naziv tvrtke").Sortable(true);
    columns.Add(m => m.OrganizationDetail.OrganizationGroupString).Encoded(false).Sanitized(false).Titled("Povezana grupacija").Sortable(false);
    columns.Add(m => m.OrganizationDetail.MainCity).Encoded(false).Sanitized(false).Titled("Mjesto").Sortable(false);
    columns.Add(m => m.Income).Encoded(false).Sanitized(false).Titled("Godišnji prihod").Sortable(true).Format("{0:C}");
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m =>
    {
    return @<div><span>
        <a href = "@Url.RouteUrl(new { action = "Details", controller = "Organizations", area = "", id = m.MerId })" title = "Detalji tvrtke"><i class="fa fa-list"></i></a>
        </span></div>;
    });
}).WithPaging(20)
</body>

